<%- include("partials/header") %>

<h1>Compose</h1>

<form action="/compose" method="post">

    <div class="form-groups">
        <label for="postItem">Title</label>
        <input class="form-control" type="text" name="item" id="postItem">

        <label for="content">Content</label>
        <textarea class="form-control" name="" id="content" cols="30" rows="10"></textarea>
    </div>

    <button class="btn btn-lg btn-success" type="submit" name="button">Publish</button>
</form>
<%- include("partials/footer") %>